TSWLatexianTemp*

*.fdb_latexmk

*.aux

*.fls

*.out

*.synctex.gz

*.toc

*.log

*.tcp

.dropbox

PlayAround.tex

*.sublime-project

*.sublime-workspace

mainMobile.tex

AutomatedRun.sh
mainMobile.pdf

Others/ExampleDocument.tex
