TSWLatexianTemp*

*.fdb_latexmk

*.aux

*.fls

*.out

*.synctex.gz

*.toc

*.log

*.tcp

.dropbox

PlayAround.tex

*.sublime-project

*.sublime-workspace

mainMobile.tex

AutomatedRun.sh
mainMobile.pdf

Others/ExampleDocument.tex

Tex/MAINs/main.pdf

Tex/MAINs/Session.tks

Tex/MAINs/mainReview.tex
